.faq-text {
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: inline;
  vertical-align: bottom;
}
.title-accordion {
  color: $cl_primary;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
