.home-banner img {
  display: block;
  width: 100%;
  max-height: 550px;
}
.home-banner {
  max-height: 550px;
}

.home-content {
  display: flex;
  color: #fffad4 !important;
  flex-direction: column;
}
.home-leftContent {
  background-color: #755036;
  flex-basis: 45%;
  color: #fffad4;
}
.home-leftContainer {
  position: relative;
  padding-top: 35px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #755036;
  color: #fffad4;
}
.home-rightContent {
  flex-basis: 55%;
}
.home-rightContent * {
  height: 100%;
}
.home-rightContent img {
  display: block;
  width: 100%;
  height: 100%;
}
.home-leftTitleContainer {
  margin-left: 8%;
}
.home-leftTitle {
  font-size: 35px;
  color:  #fffad4;
  font-weight: normal;
  margin-bottom: 10px;
}
.home-categoryContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  margin-bottom: 60px;
  color: #755036 !important;
}
.home-categoryItem {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #755036;
  font-weight: bold;
}
.home-categoryItem.active {
  color: #fffad4;
}

.home-cakeContentContainer {
  text-align: left;
}
.home-cakeContentContainer .carousel .slide {
  background: none;
}
.home-cakeContent {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  height: 100%;
  border-bottom: thin solid #fffad4;
}
.home-cakeName {
  font-size: 35px;
  flex: 1;
}
.home-cakeDescription {
  flex: 1;
}
.home-buttonContainer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-buttonContainer > .control-dots {
  bottom: 15px;
}
.home-bg {
  background-color: #755036;
}
.home-buttonItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-buttonItem:first-child {
  margin-right: 30px;
}
.home-buttonImageWrapper {
  margin-bottom: 10px;
}

.delivery-sameDay {
  background: #e0d4cd;
  padding-top: 30px;
}

.delivery-imgContainer {
  padding-left: 20px;
  max-width: 1200px;
  margin-left: auto;
}
.delivery-imgContainer > img {
  width: 100%;
}

@media (min-width: 480px) {
  .home-leftContainer {
    padding-top: 35px;
    padding-right: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 767px) {
  .delivery-sameDay {
    padding-top: 90px;
  }
}

@media (min-width: 960px) {
  .home-content {
    flex-direction: row;
  }
}
