.payment-content {
  border-radius: 25px;
  border: 2px solid #755036;
  padding: 20px;
  margin-right: 1rem;
}
.payment-animasi {
  border-radius: 25px;
  border: 2px solid #755036;
  padding: 20px;
  margin-top: 1rem;
}
.title-payment {
  font-weight: bold;
  color: rgb(121, 55, 31);
}
.content-payment {
  color: rgb(121, 55, 31);
}
.local-payment {
  max-width: 100%;
  margin-top: 1rem;
}
