footer {
  position: relative;
  background-color: #fffad4 !important;
}

.footer-container {
  padding: 60px 20px 0 20px;
}
.motherImage {
  display: none;
  position: absolute;
  top: -35px;
  left: 0;
}
.motherImage > img {
  width: 240px;
}
.footer-content {
  display: flex;
  flex-direction: column;
}
.footer-leftContent {
  width: 100%;
  display: flex;
}
.footer-leftContentInner {
  display: flex;
  flex-direction: column;
}
.footer-linkContainer {
  display: flex;
  flex-wrap: wrap;
}
.footer-link {
  color: brown;
  text-decoration: none;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}
.footer-leftImageContainer {
  flex: 1;
  display: none;
  flex-direction: row;
  align-items: flex-end;
}
.footer-leftImage {
  margin-right: 3rem;
  height: 7rem;
}
.footer-leftImage > img {
  // height: 15 0px;
  height: 7rem;
}

.footer-rightContent {
  width: 100%;
  text-align: left;
}

.footer-securePayment > img {
  height: 50px;
}

.footer-socialMedia {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}
.footer-socialMediaItem > img {
  width: 30px;
  margin-right: 25px;
}

.footer-apps {
  display: flex;
  justify-content: flex-start;
}
.footer-appstore {
  margin-right: 15px;
}

@media (min-width: 480px) {
}

@media (min-width: 767px) {
  .motherImage {
    display: block;
  }
  .footer-container {
    padding-bottom: 2rem;
    padding-right: 60px;
  }
  .footer-content {
    flex-direction: row;
  }
  .footer-leftContent {
    margin-left: 240px;
  }
  .footer-leftContentInner {
    max-width: 585px;
  }
  .footer-rightContent {
    text-align: right;
  }
  .footer-socialMedia {
    justify-content: flex-end;
  }
  .footer-apps {
    justify-content: flex-end;
  }
}

@media (min-width: 900px) {
  .footer-leftImageContainer {
    display: flex;
    margin-bottom: -30px;
  }
}
@media (min-width: 901px) and (max-width: 987px) {
  .footer-apps {
    flex-direction: column;
  }
  .footer-appstore {
    margin: 0;
  }
}
